<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active-link">
        <app-icon name="Home"></app-icon>
        <span class="label">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/workflows" routerLinkActive="active-link">
        <app-icon name="Workflow"></app-icon>
        <span class="label">Workflows</span>
      </a>
    </li>
    <li>
      <a routerLink="/executions" routerLinkActive="active-link">
        <app-icon name="History"></app-icon>
        <span class="label">Executions</span>
      </a>
    </li>
  </ul>
</nav>